@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.newsletter {
  background-color: #fff;
  border-radius: 36px;
  /* max-width: 928px; */
  width: 928px;
  height: 641px;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}

.newsletter_wrapper {
  display: flex;
  justify-content: flex-end;
  width: 840px;
  gap: 30px;
}

.header_container {
  margin-bottom: 24px;
}

.content_container {
  max-width: 376px;
  height: 446px;
  align-self: center;
}

.image_container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}

/* fonts */

.title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #19182b;
}

.content_container p {
  font-size: 16px;
  color: hsl(234, 29%, 20%);
}

.list {
  list-style-type: none;
}

.list li span {
  width: 21px;
  height: 21px;
}

.list li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
